.tablerenderpagination
{
    display: inline-block;
    margin: 5px auto;
}

.tablerenderpagination ul
{
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: 1px solid #09517D;
    border-radius: 4px;
}

.tablerenderpagination ul li
{
    float: left;
    padding: 10px;
    border-right: 1px solid #09517D;
}
/*
.tablerenderpagination ul li a
{
    color:#669;
}*/

.tablerenderpagination ul li.active, ul li.active:hover
{
    background-color: #CED8DE;
}


.tablerenderpagination ul li:last-child
{
    border-right: none;
}

.tablerenderpagination ul li:hover
{
    background-color: #C2E0F2;
}

.container
{
    width: 80%;
    margin: 20px auto;
}

.grid
{
    margin: 5px auto;
    border-collapse: collapse;
    font-size: 14px;
    table-layout: fixed;
    text-align: left;
}

.overridewidth
{
    width: auto;
}

.grid th
{
    padding: 8px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    background: #09517D;
    text-transform: capitalize;
}

.grid span.asc, .grid span.desc
{
    font-size: 7px;
    margin: 2px;
    display: none;
    line-height: 15px;
    vertical-align: middle;
}


.grid th[data-sortasc=true] span.asc
{
    display: inline;
}

.grid th[data-sortasc=false] span.desc
{
    display: inline;
}


.grid th:first-child
{
    -moz-border-radius: 3px 0 0 0;
    -webkit-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}

.grid th:last-child
{
    -moz-border-radius: 0 3px 0 0;
    -webkit-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.grid th:only-child
{
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.grid td
{
    padding: 8px;
    background: #F0F3F5;
    border-top: 1px solid #fff;
    color: #669;
}

.grid tbody tr:hover td
{
    background: #C2E0F2;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.grid td input[type=image]
{
    height: 20px;
    width: 20px;
}